<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">
      Transfer
    </h2>

    <%= form_with scope: :wallet_transfer, url: wallet_transfer_path, class: "mx-auto max-w-lg rounded-lg border" do |form| %>
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <%= form.text_field :receiver_username, placeholder: "Receiver username", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        <%= form.number_field :amount, placeholder: "Amount", required: true, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>

        <%= form.submit "Transfer", class: "block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base cursor-pointer" %>
      </div>
    <% end %>

  </div>
</div>
