<%= form_with scope: :withdrawal, url: account_withdrawal_path do |form| %>
  <p><%= form.number_field :amount, placeholder: "Amount", required: true %></p>
  <%= form.submit "Withdrawal" %>
<% end %>
