start_block_syncer_job:
  cron: "*/1 * * * *"
  class: "Glueby::StartBlockSyncerJob"
  description: "1分毎に ブロックを生成する"

manage_utxo_pool_job:
  cron: "*/5 * * * *"
  class: "Glueby::ManageUtxoPoolJob"
  description: "5分毎に UTXO Provider の UTX　pool を調整する"

issue_token_from_wallet_deposit_requests_job:
  cron: "*/1 * * * *"
  class: "IssueTokenFromWalletDepositRequestsJob"
  description: "1分毎に発行待ちの WalletDepositRequest を処理する"

transfer_token_from_wallet_deposit_requests_job:
  cron: "*/1 * * * *"
  class: "TransferTokenFromWalletDepositRequestsJob"
  description: "1分毎に移転待ちの WalletDepositRequest を処理する"

transfer_token_from_wallet_transfer_requests_job:
  cron: "*/1 * * * *"
  class: "TransferTokenFromWalletTransferRequestsJob"
  description: "1分毎に移転待ちの WalletTransferRequest を処理する"

burn_token_from_wallet_withdrawal_requests_job:
  cron: "*/1 * * * *"
  class: "BurnTokenFromWalletWithdrawalRequestsJob"
  description: "1分毎に焼却待ちの WalletWithdrawalRequest を処理する"
