<div class="flex gap-4">
  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Total amount of Token
    </p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <%= @total_amount_of_token %>
    </h5>
  </div>

  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <p class="font-normal text-gray-700 dark:text-gray-400">
      User Count
    </p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <%= @user_count %>
    </h5>
  </div>

  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Wallet Count
    </p>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <%= @wallet_count %>
    </h5>
  </div>
</div>
