<div class="bg-white pt-4 sm:pt-10 lg:pt-12">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="py-8 text-center text-sm text-gray-400 border-t">
      © 2023 - Kokuten. All rights reserved.
    </div>
  </footer>
</div>
